@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #222;
  } @else {
    @return #fff;
  }
}
@function set-highlight-color($color, $color-base) {
  @if (lightness($color) > 50) {
    @return darken($color-base, 10);
  } @else {
    @return lighten($color-base, 10);
  }
}

// $primary-color: rgb(78, 74, 74);
$primary-color: rgb(215, 218, 214);
$highlight-color-base: #85144b;
$background-opacity: 0.9;

$secondary-color: set-text-color($primary-color);
$highlight-color: set-highlight-color($primary-color, $highlight-color-base);
$show-home-image: true;
$home-image: url("/assets/img/background.jpg");

$middle-size: 300px;
$small-size: 200px;
@mixin overlay($left, $width, $height, $opacity) {
  content: "";
  position: fixed;
  top: 0;
  left: $left;
  width: $width;
  height: $height;
  z-index: -1;
  background-color: $primary-color;
  opacity: $opacity;
}

@mixin hover-color($color) {
  &:hover {
    @include ease;
    color: $color;
  }
}

@mixin ease {
  transition: all 0.5s ease-out;
}
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dead {
  display: none;
}
.portrait {
  width: $middle-size;
  height: $middle-size;
  background: url("/assets/img/portrait.jpg");
  background-size: $middle-size;
  background-position: center;
  border-radius: 50%;
  border: solid 3px $highlight-color;
  box-shadow: 0px 0px 100px darken($primary-color, 30);
}
