// Wide Screen
@include mediaXL {
  .card {
    grid-template-columns: 7fr 3fr;
    height: 80%;
    width: 80%;
  }
  .about-info {
    grid-gap: 2rem;
    grid-template-columns: 2fr 5fr;
  }
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .lg-heading {
    font-size: 6rem;
  }

  .content {
    padding: 4rem 8rem;
  }
  #home::after {
    @include overlay(0, 100vw, 100vh, 0.3);
  }
}

// Laptop
@include mediaLg {
  html {
    font-size: 14px;
  }
  body#bg-img {
    background-position: center !important;
  }
  .card {
    grid-template-columns: 7fr 3fr;
    height: 80%;
    width: 80%;
    p {
      font-size: 0.8rem;
    }
  }
  .formal {
    font-size: 1.5rem;
  }
  .project-video {
    display: none;
  }

  .content {
    padding: 1rem;
  }
  .about-info {
    grid-template-columns: 1fr 3fr;
    align-content: center;
    grid-gap: 3rem;
  }
  .projects {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
  .lg-heading {
    font-size: 5rem;
  }
  #home::after {
    @include overlay(0, 100vw, 100vh, 0.3);
  }
}

// Tablet
@include mediaMd {
  body#bg-img {
    background-position: right !important;
  }
  .formal {
    font-size: 3rem;
  }
  .card {
    grid-template-columns: 1fr;
    &::before {
      display: none;
    }
    height: 100%;
    width: 100%;
    .card-form {
      display: none;
    }
    .card-info {
      width: 100%;
      height: 100%;
    }
  }
  p {
    font-size: 1.5rem;
  }
  .project-video {
    display: none;
  }
  html {
    font-size: 13px;
  }
  main,
  #home {
    align-items: center;
    text-align: center;
  }
  .content {
    padding: 10vh 4vw;
  }
  .about-info {
    grid-template-columns: 1fr;
    align-content: center;
  }
  .projects {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
  }
  ul.menu-nav {
    height: 60vh;
    transform: translate3d(100%, 0, 0);
  }
  div.menu-branding {
    height: 40vh;
    transform: translate3d(-100%, 0, 0);
  }
  .portrait {
    background-size: $small-size;
    width: $small-size;
    height: $small-size;
  }
  .lg-heading {
    font-size: 4rem;
  }
}

//Smart phone
@include mediaSm {
  #home::after {
    @include overlay(0, 100vw, 100vh, 0.8);
  }
  html {
    font-size: 10px;
  }

  main#home h1 {
    margin-top: 20vh;
  }
  .lg-heading {
    font-size: 4rem;
  }
}
