// Wide Screen
@include mediaXL {
  // hover tag setup
  .icon:hover {
    background: rgba($secondary-color, 0.5);
    i {
      color: $primary-color;
    }
  }
  .menu-btn:hover {
    .btn-line {
      background-color: $pass-color;
    }
  }
  .close:hover {
    .btn-line {
      background-color: $delete-color;
    }
  }
  .nav-link:hover {
    color: $highlight-color;
  }
  .card {
    grid-template-columns: 7fr 3fr;
    height: 80%;
    width: 80%;
    &-info {
      align-items: flex-start;
      padding: 0.8rem 3rem;
    }
  }
  .about-info {
    grid-gap: 2rem;
    grid-template-columns: 2fr 5fr;
  }
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .lg-heading {
    font-size: 6rem;
  }

  .content {
    padding: 3rem 8rem;
  }
  #home::after {
    @include overlay(0, 100vw, 100vh, 0.7);
  }

  #bg-img {
    background-size: cover !important;
    background-position: right;
  }
  .message:hover {
    box-shadow: 0px 0px 3.3rem lighten($primary-color, 70);
    transform: scale(1.04) translateY(3vh);
  }
}

// Laptop
@include mediaLg {
  .icon:hover {
    background: none;
    i {
      color: none;
    }
  }
  html {
    font-size: 20px;
  }
  .card {
    grid-template-rows: 5fr 5fr;
    height: 80%;
    width: 80%;
    p {
      font-size: 0.8rem;
    }
    &-info {
      align-items: flex-start;
      padding: 0.8rem 3rem;
    }
  }
  .formal {
    font-size: 1.5rem;
  }
  .project-video {
    display: none;
  }

  .content {
    padding: 3rem;
  }
  .about-info {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-content: center;
    grid-gap: 3rem;
  }
  .projects {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
  .lg-heading {
    font-size: 5rem;
  }
  #home::after {
    @include overlay(0, 100vw, 100vh, 0.7);
  }
}

// Tablet
@include mediaMd {
  .formal {
    font-size: 3rem;
  }
  .card {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    &::before {
      display: none;
    }
    height: 100%;
    width: 100%;
    .card-form {
      display: none;
    }
    .card-info {
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
  p {
    font-size: 1.5rem;
  }
  .project-video {
    display: none;
  }
  html {
    font-size: 13px;
  }
  main,
  #home {
    align-items: center;
    text-align: center;
    justify-content: baseline;
  }
  #bg-img {
    background-size: 220%;
    background-position: right;
  }
  .content {
    padding: 10vh 4vw;
  }
  .about-info {
    grid-template-columns: 1fr;
    align-content: center;
  }
  .projects {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
  .portrait {
    background-size: $small-size;
    width: $small-size;
    height: $small-size;
  }
  .lg-heading {
    font-size: 4rem;
  }
  #contact {
    p {
      font-size: 1.8rem;
      font-weight: lighter;
    }
  }

  .message-mobile {
    display: block;
  }
}

//Smart phone
@include mediaSm {
  .menu {
    grid-template-columns: 1fr !important;
    grid-template-rows: 4fr 6fr !important;
    &-nav {
      transform: translate3d(100%, 0, 0);
    }
    &-branding {
      transform: translate3d(-100%, 0, 0);
    }
  }
  #home::after {
    @include overlay(0, 100vw, 100vh, 0.7);
  }
  html {
    font-size: 10px;
  }

  main#home h1 {
    margin-top: 20vh;
  }
  .lg-heading {
    font-size: 4rem;
  }

  #bg-img {
    background-size: cover !important;
    background-position: right;
  }
}

// portrait mode for phone
@include mediaSmSp {
  #bg-img {
    background-size: cover !important;
    background-position: right;
  }
  #home::after {
    @include overlay(0, 100vw, 100vh, 0.8);
  }
  html {
    font-size: 10px;
  }
  main#home h1 {
    margin-top: 20vh;
  }
  .lg-heading {
    font-size: 4rem;
  }
}

@include mediaXS {
  #home::after {
    @include overlay(0, 100vw, 100vh, 0.8);
  }
  html {
    font-size: 9px;
  }

  main#home h1 {
    margin-top: 20vh;
  }
  .lg-heading {
    font-size: 4rem;
  }
}
