* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.dead {
  display: none; }

.portrait {
  width: 18rem;
  height: 18rem;
  background: url("/assets/img/portrait.jpg");
  background-size: 18rem;
  background-position: center;
  border-radius: 50%;
  border: solid 3px #590d32;
  box-shadow: 0px 0px 100px #899186; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    transition: all 0.5s ease-out;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #222; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden; }
  .menu-nav {
    top: -100vh;
    background: rgba(207, 211, 206, 0.9);
    list-style: none;
    transform: translate3d(50%, -100%, 0);
    border-radius: 0 0 0 100px;
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      border-radius: 0;
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    top: 100vh;
    background: rgba(223, 225, 222, 0.95);
    list-style: none;
    transform: translate3d(-50%, 100%, 0);
    border-radius: 0 100px 0 0;
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      border-radius: 0;
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item .nav-link {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: 2rem;
      padding: 1rem 0;
      text-transform: uppercase;
      transition: all 0.5s ease-out; }
      .menu .nav-item .nav-link.current {
        color: #590d32; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  background-size: cover !important; }

#contact {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center; }

.card {
  box-shadow: 5px 7px 100px black;
  display: grid;
  overflow: scroll; }
  .card .card-form {
    color: #590d32;
    width: 100%;
    height: 100%;
    background: rgba(189, 194, 187, 0.97);
    position: relative; }
  .card-info {
    width: 100%;
    height: 100%;
    background: rgba(241, 242, 241, 0.3);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #222; }
    .card-info p {
      padding: 0 20px;
      line-height: 2;
      margin: 10px; }

.css-wo1bey {
  z-index: 2 !important; }

.formal {
  padding: 15px;
  font-weight: bold; }

.md-heading {
  font-size: 2rem; }

#message {
  transition: all 0.5s ease-out;
  box-shadow: 0px 0px 3rem white;
  transform: translateY(5vh);
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  background: transparent;
  border: #3c3c3c 2px solid;
  border-radius: 10px;
  color: #222;
  display: none;
  outline: none; }
  #message:active {
    box-shadow: 0px 4px 2rem white;
    transform: scale(0.96) translateY(5vh); }

@media screen and (min-width: 1171px) {
  .icon:hover {
    background: rgba(34, 34, 34, 0.5); }
    .icon:hover i {
      color: #d7dad6; }
  .menu-btn:hover .btn-line {
    background-color: #185718; }
  .close:hover .btn-line {
    background-color: #6d1818; }
  .nav-link:hover {
    color: #590d32; }
  .card {
    grid-template-columns: 7fr 3fr;
    height: 80%;
    width: 80%; }
    .card-info {
      align-items: flex-start;
      padding: 0.8rem 3rem; }
  .about-info {
    grid-gap: 2rem;
    grid-template-columns: 2fr 5fr; }
  .projects {
    grid-template-columns: 1fr 1fr 1fr; }
  .lg-heading {
    font-size: 6rem; }
  .content {
    padding: 4rem 8rem; }
  #home::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #d7dad6;
    opacity: 0.3; } }

@media screen and (max-width: 1170px) {
  .icon:hover {
    background: none; }
    .icon:hover i {
      color: none; }
  html {
    font-size: 20px; }
  .card {
    grid-template-rows: 5fr 5fr;
    height: 80%;
    width: 80%; }
    .card p {
      font-size: 0.8rem; }
    .card-info {
      align-items: flex-start;
      padding: 0.8rem 3rem; }
  .formal {
    font-size: 1.5rem; }
  .project-video {
    display: none; }
  .content {
    padding: 1rem; }
  .about-info {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-content: center;
    grid-gap: 3rem; }
  .projects {
    margin-top: 20px;
    grid-template-columns: 1fr; }
  .lg-heading {
    font-size: 5rem; }
  #home::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #d7dad6;
    opacity: 0.3; } }

@media screen and (max-width: 768px) {
  .formal {
    font-size: 3rem; }
  .card {
    grid-template-rows: 1fr;
    justify-content: center;
    height: 100%;
    width: 100%; }
    .card::before {
      display: none; }
    .card .card-form {
      display: none; }
    .card .card-info {
      width: 100%;
      height: 100%;
      align-items: center; }
  p {
    font-size: 1.5rem; }
  .project-video {
    display: none; }
  html {
    font-size: 13px; }
  main,
  #home {
    align-items: center;
    text-align: center; }
  .content {
    padding: 10vh 4vw; }
  .about-info {
    grid-template-columns: 1fr;
    align-content: center; }
  .projects {
    margin-top: 20px;
    grid-template-columns: 1fr; }
  .portrait {
    background-size: 15rem;
    width: 15rem;
    height: 15rem; }
  .lg-heading {
    font-size: 4rem; }
  #contact p {
    font-size: 1.8rem;
    font-weight: lighter; }
  #message {
    display: block; } }

@media screen and (max-width: 500px) and (orientation: portrait) {
  .menu {
    grid-template-columns: 1fr !important;
    grid-template-rows: 4fr 6fr !important; }
    .menu-nav {
      transform: translate3d(100%, 0, 0); }
    .menu-branding {
      transform: translate3d(-100%, 0, 0); }
  #home::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #d7dad6;
    opacity: 0.3; }
  html {
    font-size: 10px; }
  main#home h1 {
    margin-top: 20vh; }
  .lg-heading {
    font-size: 4rem; } }

@media screen and (max-height: 420px) {
  #home::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #d7dad6;
    opacity: 0.8; }
  html {
    font-size: 10px; }
  main#home h1 {
    margin-top: 20vh; }
  .lg-heading {
    font-size: 4rem; } }

@media screen and (max-width: 321px) and (orientation: portrait) {
  #home::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #d7dad6;
    opacity: 0.8; }
  html {
    font-size: 9px; }
  main#home h1 {
    margin-top: 20vh; }
  .lg-heading {
    font-size: 4rem; } }

body {
  background: #d7dad6;
  color: #222;
  height: 100vh;
  font-family: "Fira Sans", Tahoma;
  line-height: 1.5;
  display: grid;
  align-items: center;
  justify-content: center; }
  body#bg-img {
    background: url("/assets/img/background.jpg");
    background-attachment: fixed;
    background-size: 120vh;
    background-position: right; }

.loader {
  background: #d7dad6; }

.content::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #d7dad6;
  opacity: 0.9; }

#contact::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #d7dad6;
  opacity: 0.7; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h1.md-heading, h1.sm-heading, h1.formal,
  h2.lg-heading,
  h2.md-heading,
  h2.sm-heading,
  h2.formal,
  h3.lg-heading,
  h3.md-heading,
  h3.sm-heading,
  h3.formal {
    font-family: "Playfair Display", serif; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem; }

a {
  text-decoration: none;
  color: #222; }

header {
  position: fixed;
  z-index: 3;
  width: 100%; }

.text-highlight {
  color: #590d32; }

main {
  height: 100%; }
  main .icon {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border-radius: 5px;
    margin-right: 0.5rem;
    transition: all 0.5s ease-out; }
    main .icon i {
      transition: all 0.5s ease-out; }
  main #home {
    display: flex;
    flex-flow: column wrap; }
    main #home h1 {
      margin-top: 20vh; }
  main .content h1 {
    margin-bottom: 3rem; }

.selected {
  color: #590d32; }

.about-info {
  display: grid; }
  .about-info .intro {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center; }
    .about-info .intro .portrait {
      margin-bottom: 2rem; }
    .about-info .intro h3 {
      font-size: 1.5rem;
      margin-bottom: 10px; }

.projects {
  display: grid;
  margin-bottom: 2rem; }
  .projects .project {
    box-shadow: 3px 3px 70px #899186;
    margin: 0.5rem;
    border-radius: 10px;
    background: #cacec9;
    overflow: hidden; }
    .projects .project h3 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      color: #590d32; }
    .projects .project.project-text {
      padding: 2rem; }
    .projects .project iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }

.project-video {
  position: relative;
  min-height: 51%; }
